<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <connectionStrings>

   <add name="constr" connectionString="data source=|DataDirectory|\App_Data\database.sqlite;foreign keys=true"
        providerName="System.Data.SQLite" />
    <!--AttachDbFilename=|DataDirectory|\Database.mdf;-->

    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" 
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
         Initial Catalog=Database;
         AttachDbFilename=|DataDirectory|\App_Data\Database.mdf;
         Integrated Security=true" />-->

    <!--<add name="DefaultConnection" connectionString="data source=(LocalDb)\MSSQLLocalDB;
         AttachDbFilename=|DataDirectory|\Database.mdf;
         integrated security=True;" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <!-- (LocalDb)\MSSQLLocalDB 
       (LocalDb)\v11.0  -->
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="data source=(LocalDb)\v11.0;
         initial catalog=DoctorDB;
         attachdbfilename=|DataDirectory|\DoctorDB.mdf;
         integrated security=True;
         MultipleActiveResultSets=True;App=EntityFramework" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.Toolkit" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.0.0" newVersion="2.9.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="GalaSoft.MvvmLight" publicKeyToken="eabbf6a5f5af5004" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.32.39728" newVersion="4.4.32.39728" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>